body, html {
    /*height: inherit !important;*/
}

@media (max-width: 1024px) {
    .table {
        min-width: 1024px;
    }
}

@media (max-width: 767px) {
    #data-table_wrapper label {
        float: left;
        margin-right: 10px;
    }

    #dataTables_filter label {
        margin-right: 0px;
    }

    .table {
        min-width: 800px;
    }
}

.box-header, .box-body {
    padding-left: 20px;
    padding-right: 20px;
}

.table > thead:first-child > tr:first-child > th {
    vertical-align: middle;
}

.dataTables_scroll {
    margin-bottom: 10px;
}

div.dataTables_scrollBody table tbody tr .stt__customer {
    text-align: center;
    vertical-align: middle;
}

button.actived, button.payed, button.waiting-active, button.trial {
    margin: auto;
    padding: 0px;
    font-size: 15px;
    height: 35px;
    width: 180px;
}

.pointer {
    cursor: pointer;
}

.action i {
    font-size: 17px;
}

.action {
    vertical-align: middle !important;
}

.list-contract td a {
    color: #000;
}

.dataTables_length {
    display: inline-block;
    margin-right: 15px;
}

#data_filter {
    display: inline-block;
}

#data_filter .form-group {
    margin-bottom: 0;
}

#data_filter label {
    line-height: 35px;
    margin-right: 10px;
}

.link_agency textarea {
    width: 100%;
    max-height: 73px;
    min-height: 73px;
    border: 1px solid #d2d6de;
    background: #ecf0f5;
}

#addBizsale {
    padding: 0 20px;
}

.login-box {
    margin: 0px auto;
}

.wrapper {
    position: inherit;
}

.login-page .container {
    min-height: 915px;
}

.login-page .card-container {
    width: 400px;
    margin: 15% auto;
    background: #fff;
    height: auto;
    padding: 20px;
}

.image-user {
    text-align: center;
    margin-bottom: 20px;
}

.image-user img {
    border-radius: 100%;
    height: 122px;
}

.login-page .form-login .form-group input {
    height: 40px;
    border-radius: 5px;
}

.account_login__social .title {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaaaaa;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.account_login__social .title::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 1px;
    width: 100%;
    border-top: 1px solid #e6eaf1;
}

@media (max-width: 420px) and (min-width: 401px) {

    .login-page .card-container {
        width: 384px;
    }

}

@media (max-width: 400px) and (min-width: 381px) {

    .login-page .card-container {
        width: 370px;
    }

}

@media (max-width: 385px) and (min-width: 361px) {

    .login-page .card-container {
        width: 345px;
    }

}

@media (max-width: 360px) and (min-width: 330px) {

    .login-page .card-container {
        width: 320px;
    }

}

@media (max-width: 329px) {

    .login-page .card-container {
        width: 290px;
    }

}

.product-image {
    padding-left: 0px !important;
    margin-bottom: 20px;
}

.product-info {
    padding-right: 0px !important;
}

.product-info, .product-image {
    background: #ffffff;
}

.add {
    padding: 15px;
}

.bootstrap-select button.btn-default {
    background: #fff !important;
}

.product-status label, .product-discount label {
    margin: 0px 15px;
}

.product-status label span, .product-discount label span {
    margin: 0 5px;
}

.product-status label:first-child, .product-discount label:first-child {
    margin-left: 0px;
}

.discount-type .show-tick {
    width: 100px !important;
}

.blog-avatar, .blog-favicon {
    border: 1px dashed #2196F3;
    border-radius: 2px;
    height: 180px;
    width: 180px;
    background: #f2f2f2;
    align-items: center;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

div.img-avatar, div.img-favicon {
    height: 180px;
    width: 180px;
}

div.img-avatar img, div.img-favicon img {
    width: 100%;
    height: 100%;
}

.manipulation {
    width: 100%;
}

.btn-add, .btn-cancel {
    float: right;
}

.btn-cancel {
    margin-right: 5px;
}

span.icon-manipulation {
    margin-right: 5px;
}

.content-wrapper {
    min-height: auto !important;
}

.table-product tr td img {
    width: 50px;
    height: 50px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.add-menu {
    background: #fff;
    border: 1px solid #fff;
}

#menu ul li label {
    margin-right: 20px;
}

#QuickView .modal-form-add {
    background: #ffffff;
    margin: auto;
    margin-top: 20px;
}

#QuickView .modal-form-add .header-dialog {
    background: #017d7d;
    color: #fff;
    padding-left: 25px;
    height: 50px;
}

#QuickView .modal-form-add .header-dialog h3 {
    padding-top: 12px;
}

#QuickView .form-add-menu {
    width: 90%;
}

#QuickView .form-add-menu form {
    padding: 25px;
}

.box-header .title {
    margin-bottom: 10px;
}

div.search {
    display: inline-flex;
    width: 100%
}

div.search label {
    width: 30%;
    padding-top: 5px;
}

.communication button, .bill-status button {
    margin-right: 5px;
    color: #ffffff;
    border: none;
}

.bill-status button {
    width: 75%;
}

.code-bill i, .customer-bill i {
    margin-right: 5px;
}

.color-gray-icon {
    color: #8b93a9 !important;
}

.table-bill tr td div {
    line-height: 23px;
}

.invoice {
    margin: 0px 25px;
    padding-top: 15px;
    background: none;
}

.bg-gray {
    background: #f4f4f4;
}

.bg-skype {
    background: #017d7d;
}

.bg-light-green {
    background: #8bc24a;
}

.bg-amber {
    background: #ff6600;
}

.bg-success {
    background: teal;
}

div.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;
}

.d-flex {
    display: inline-flex;
}

.img-product-single {
    border: 1px dashed #2196F3;
    border-radius: 2px;
    height: 80px;
    width: 80px;
    background: #f2f2f2;
    align-items: center;
    margin-bottom: 5px;
}

.img-user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

aside.control-sidebar.control-sidebar-dark {
    display: none !important;
}

/* Box Slider */
.btn-add-slider {
    margin-top: 10px;
}

.cover {
    width: 200px;
    height: 100px;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info website */
.bd-bt-dashed {
    border-bottom: 1px dashed #c5c4c4;
}

.pd-bt-10 {
    padding-bottom: 10px;
}

.box-info-website .btn-add {
    width: 80px;
}

.box-seo {
    margin-bottom: 15px;
}

/* dialog attribute */
.form-add-attr {
    width: 40%;
}

.box-add-attribute {
    margin-top: 15px;
}

.box-attr {
    padding-bottom: 20px;
}

.list-attribute .attribute {
    width: 100%;
}

.attribute .btn {
    margin-left: 5px;
}

.value-attribute .btn {
    margin-left: 5px;
}

.list-attribute .item {
    margin-bottom: 15px;
}

.list-attribute .first-item .value-attribute {
    padding-right: 56px;
}

.pd-t-10 {
    margin-top: 10px;
}